.product-card {
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto;
}

.imgwraper {
  position: relative;
  overflow: hidden;
  

  .product-image {
    width: 100%;
    
    object-fit: inherit;
    border-radius: 10px 10px 0px 0px;
  }
}

.product-details {
  position: relative;
}

.add-to-cart-button {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  transition: bottom 0.3s ease-in-out;
}
.product-card:hover .add-to-cart-button {
  bottom: 0;
}
.add-to-cart-button-mobile {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  transition: height 0.3s ease-in-out;
}

.product-card:hover .add-to-cart-button-mobile {
  height: 40px; /* Increase height on hover */
}

.product-details {
  position: relative;
}

.tooltip {
  color: black;
}

.imgwraper .overlay {
  position: absolute;
  top: -20px;
  right: -100%;
  width: auto;
  padding: 20px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.6s ease, transform 0.6s ease, right 0.6s ease;
}

.product-card:hover .imgwraper .overlay {
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.discount-badge {
  position: absolute;
  top: 1px; /* Distance from the top */
  left: 2px; /* Distance from the left */
  background-color: #6a0dad; /* Purple background */
  color: white; /* White text */
  font-weight: 400; /* Bold text */
  padding: 2px 5px; /* Padding inside the badge */
  border-radius: 10px 10px 10px 0px;

  /* Rounded corners */
  font-size: 12px; /* Adjust font size */
  z-index: 4; /* Ensure it's on top of other elements */
}

.imgwraper:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.imgwraper .overlay ul {
  background: rgb(207, 198, 198);
  color: red;
  width: auto;
  padding: 0 2px;
  border-radius: 5px;
}

.imgwraper .overlay ul li {
  display: block;
  align-items: center;
  padding: 4px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.imgwraper .overlay ul li:nth-child(2) {
  border-left: 1px solid rgba(0, 139, 139, 0.305);
}

.imgwraper .overlay ul li:nth-child(3) {
  border-left: 1px solid rgba(0, 139, 139, 0.305);
}

.product-details:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
