@import url("https://fonts.googleapis.com/css2?family=Clash+Display&display=swap");

/* Define your custom font in CSS */
@font-face {
  font-family: "Clash Display"; /* Name of the font */
  src: url("/src/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/src/fonts/ClashDisplay-Variable.woff") format("woff"); /* Font file paths */
  font-weight: 490;
  font-style: inherit;
}

/* If you have different weights or styles (e.g., bold, italic), you can define those as well */


/* Import Tailwind CSS before any custom styles */
@import "tailwindcss";

/* Now you can define your custom styles */
* {
  font-family: "Clash Display", sans-serif;
 


}


*:focus {
  outline: none !important;
}
